$bg_header: url('..//img/m-h-day.jpg');
$bg_body: white;
$color_1: #2c2f3c;
$font_1: "Hind", sans-serif;
$font_2: "Source Sans Pro", sans-serif;
$bg_word: #14a0c7;
$bg_buttn: #699900;
$bg_sect: #21232e;
$gradient_1:#65950f;
$gradient_2: #2c5adb;
$pad_top_header: 15px;
$logo_top: 4px;
$logo_left: 1px;
$span_pad_left: 10px;
$span_marg_top: -5px;
$h_h_pad_top: 70px;
$sect_img_first_width: 430px;
$sect_img_first_height: 285px;
$sect_img_second_width: 416px;
$sect_img_second_height: 274px;
$sect_img_third_width: 459px;
$sect_img_third_height: 304px;
$width_section_text_first: 480px;
$width_section_text_second: 486px;
$width_section_text_third: 469px;
$section_text_marg_top_first: 41px;
$section_text_marg_top_second: 35px;
$section_text_marg_top_third: 63px;
$section_card_right_container_padding_second: 48px;
$section_card_right_container_padding_third: 58px;
$fonts: (
  first: $font_1,
  second: $font_2
)